.sidebar {
    overflow: scroll;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-flow: column;
    &.left {
        grid-area: left;
        // background-color: blue;
    }
    &.right {
        grid-area: right;
        // background-color: red;
    }
   .panel{
        position: static !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        max-width: unset;
        translate: unset;
        width: 300px;

            .panel-actions{
                    display: none;
            }
    }
}
