
@use 'editor/settings';
@use "editor/sidebar";
@use "editor/button";
@use "editor/form";
@use "editor/panel";

:root {
	 --sky-games-pink-hue: 334;
    --sky-games-pink: hsl(var(--sky-games-pink-hue), 100%, 47%);
    --sky-games-pink-dark: hsl(var(--sky-games-pink-hue), 77%, 56%);
    --darken: rgba(.5, .5, .5, .2);
    --darken-more: rgba(.5, .5, .5, .5);
    --trans: rgba(0, 0, 0, 0);
       
        --background-color: hsla(var(--sky-games-pink-hue), 20%, 18%, 0.85);;
        --panel-color: hsla(var(--sky-games-pink-hue), 20%, 18%, 0.85);
        --panel-header-color: var(--panel-header-color-dark);
        --text-color:  #f9f9f9
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	background-color: black;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2em;
    line-height: 1.5em;
	position: relative;

    display: grid;
    grid-template-areas: "menu menu menu" "left game right" "status status status";
    grid-template-rows: min-content auto min-content;
    grid-template-columns: min-content auto min-content;

    min-height: 100vh;
    min-width:100vw;
    max-height: 100vh;
    max-width:100vw;
}

.menubar {
    grid-area: menu;
  background-color: ButtonFace;
}



body>.game {
    grid-area: game;
    width:100%;
    height: 100%;
    position: relative;
}

canvas {
    position: absolute;
    top:0;
    left: 0;
}

svg {
    height: 1em;
    vertical-align: text-top
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}




