doctype html
head

	link(rel="stylesheet" href="editor.css")
body
	#editor
		.menubar
			button File
			button View
			button Tools
		aside.sidebar
			h3 things
		#canvas-container
			canvas
			

	script(src="assets/scripts/pixi.js")
	script(src="assets/scripts/engine.js")
	script(src="assets/scripts/editor.js")
