
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  	link(rel="stylesheet" href="editor.css")
  body
  	 button#createSprite Create Sprite
	   button#openPrompt Open Prompt
 	  button#openFormPrompt Form Test
   	script(type="module",src="assets/scripts/engine.js")
   	script(type="module",src="assets/scripts/editor.js")
	
