head
	link(rel="stylesheet" href="editor.css")
body
	button#createSprite Create Sprite
	button#openPrompt Open Prompt
	button#openFormPrompt Form Test
	script(type="module",src="assets/scripts/engine.js")
	script(type="module",src="assets/scripts/editor.js")
	
