
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="editor.css")
	body
		menu.menubar

		aside.sidebar.left

		.game
			canvas
		aside.sidebar.right
		script(type="module",src="assets/scripts/editor.js")
		script(type="module",src="assets/scripts/engine.js")
