doctype html
head

	link(rel="stylesheet" href="editor.css")
body
	#editor
		.menubar
			button(onclick="exportBtn()") Export
		aside.sidebar
			h3 things
		#canvas-container
			canvas
	script(type="module" src="assets/scripts/pixi.js")
	script(type="module" src="assets/scripts/engine.js")
	script(type="module" src="assets/scripts/editor.js")
